* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.container {
  background-color: pink;
  border: 1px solid lightgray;
}

.col-1 {
  border: 1px solid black;
  padding: 100px 20px;
}

.col-12 {
  border: 1px solid black;
  text-align: center;
  padding: 100px 0;
}

.col-8 {
  border: solid 1px black;
  text-align: center;
  padding: 100px 0;
}

.col-2{
  border: solid 1px black;
  text-align: center;
  padding: 100px 0;
}
